@font-face {
    font-family: "IPix";
    src: url("../font/IPix-Chinese.ttf");
}

@font-face {
    font-family: "press";
    src: url("../font/PressStart2P-Regular.ttf");
}

* {
    font-family: "IPix";
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    width: 100vw;
    height: 100vh;
    background-image: url("../pic/intro_background.png");
}

.back-home {
    position: fixed;
    top: 5%;
    left: 5%;
    width: 100px;
    height: 60px;
    border-radius: 10px;
    font-size: 40px;
    font-family: "press";
    color: black;
    background-color: white;
    cursor: pointer;
    text-align: center;
    padding: 5px;
}

.back-home:hover {
    color: white;
    background-color: black;
    animation: text-move 1s infinite;
}

.box-back img:hover {
    transform: scale(1.1);
}

.schedule-container {
    max-width: 800px;
    margin: 20px auto;
    background-color: rgb(255, 255, 255, 0.8);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.event {
    margin-bottom: 20px;
    padding: 10px;
    background-color: rgb(230, 230, 230, 0.8);
    border-left: 5px solid rgb(100, 200, 255);
    transition: 0.1s;
}

.event:hover {
    opacity: 0.5;
}

.event h3 {
    margin-top: 0;
}

@keyframes text-move {
from {
    text-align: end;
}
to {
    text-align: start;
}
}