.content-box {
    width: 100%;
    height: 100%;
    background-color: white;
    border: 1px solid rgb(0, 0, 0);
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-around;
}

.content-box .left {
    width: 60%;
    height: 90%;
    position: relative;
    left: 1%;
    top: 50%;
    transform: translate(0, -50%);
    border: 1px solid rgb(0, 0, 0);
    overflow-y: scroll;
}

.content-box .right {
    width: 30%;
    height: 90%;
    position: relative;
    right: 1%;
    top: 50%;
    transform: translate(0, -50%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content-box .right .right-top {
    width: 90%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    border: 1px solid rgb(0, 0, 0);
    position: relative;
    left: 50%;
    top: 2.5%;
    transform: translate(-50%, 0); 
}

.content-box .right .right-top img {
    width: 100%;
    height: 100%;
    background-size: cover;
    border-radius: 50%;
}

.content-box .right .right-bottom {
    width: 90%;
    aspect-ratio: 2 / 1;
    position: relative;
    left: 50%;
    bottom: 2.5%;
    transform: translate(-50%, 0);
}

.content-box .right .right-bottom p {
    font-size: 16px;
    width: 80%;
    height: 70%;
    border: 1px solid rgb(0, 0, 0);
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
    border-top: 3px solid rgb(140, 165, 204);
    border-bottom: 3px solid rgb(2, 31, 72);
    border-left: 3px solid rgb(188, 196, 209);
    border-right: 3px solid rgb(0, 22, 53);
    background-color: rgb(188, 225, 237);
}

.content-box .right .right-bottom p:hover {
    font-size: 17px;
    opacity: 0.8;
}