:root {
    --letter-up: -100px;
}

@font-face {
    font-family: "press";
    src: url("../font/PressStart2P-Regular.ttf");
}

@font-face {
    font-family: "IPix";
    src: url("../font/IPix-Chinese.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #3B4049;
    overflow: hidden;
}

.wrapper {
    height: 400px;
    width: 600px;
    background-color: #3760C9;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 1s;
    z-index:0;
}

.letter {
    position: absolute;
    top: 0;
    width: 80%;
    height: 100%;
    background-color: white;
    border-radius: 15px;
    z-index: 2;
    transition: 0.5s;
    overflow: hidden;
}


.envelope {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border-top: 200px solid transparent;
    border-right: 300px solid #C4DFF0;
    border-bottom: 200px solid #C4DFF0;
    border-left: 300px solid #A4D4F2;
    z-index: 3;
}

.lid {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border-right: 300px solid transparent;
    border-bottom: 200px solid transparent;
    border-left: 300px solid transparent;
    transform-origin: top;
    transition: transform 0.25s linear;
}

.lid.one {
    border-top:200px solid #658CED;
    transform: rotateX(0deg);
    z-index: 3;
    transition: all 0.1s;
    transition-delay: 0.75s;
} 

.lid.two {
    border-top: 200px solid #3760C9;
    transform: rotateX(90deg);
    z-index: 1;
    transition-delay: 0.5s;
}


.wrapper:hover .lid.one {
    transform: rotateX(90deg);
    transition-delay: 0s;
}

.wrapper:hover .lid.two {
    transform: rotateX(100deg);
    transition-delay: 0.25s;
}

.wrapper:hover .letter {
    transform: translateY(var(--letter-up));
    transition-delay: 0.5s;
}

.thumbnail .click-background-box {
    width: 100%;
    height: 25vh;
    transition: all 0.4s ease-in;
}

.thumbnail .click-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* opacity: 0.8; */
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.thumbnail .img-box {
    width: 100%;
    height: 12vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid gray;
}

.thumbnail .img-box .pic-iyoahs {
    width: 10vw;
    aspect-ratio: 1 / 1;
    position: relative;
    border-radius: 50%;
    /* border: 2px solid white; */
    transform: translateY(-40%);
}

.main-body::before {
    content: "iyoahs";
    display: block;
    font-size: 30px;
    font-family: "press";
    position: absolute;
    left: 50%;
    transform: translate(-50%, -120%);
    text-align: center;
}

.thumbnail .main-body {
    width: 100%;
    height: 50vh;
    /* overflow-y: scroll; */
}

.thumbnail .main-body .part {
    padding: 5%;
}

.thumbnail .main-body .part h2 {
    text-align: center;
    font-size: 1.5vw;
    font-family: 'IPix';
}

.thumbnail .main-body .part p {
    font-size: 1.3vw;
    font-family: "IPix";
    position: relative;
}

.back-index-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.back-index-box .back-index {
    font-size: 1.5vw;
    font-family: "IPix";
    padding: 10px;
    border:2px solid #000000;
    cursor: pointer;
}

.back-index-box .back-index:hover {
    background-color: #000000;
    color: #FFFFFF;
}

@keyframes disappear {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}